body {
    box-shadow: 0px 2px 122px lightgray inset;
}
.login-container{
    width: 30%;
    padding-top: 25px;
    background: white;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login-container h1, .login-container p{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 24px;
}


.login-container label{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 200;
}

.login-container input{  
    margin-bottom: 20px;
    padding: 5px;
    background: transparent;
    padding-left: 10px;
    transition: border-bottom-width 0.3s;
    font-family: 'Quattrocento Sans', Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    display: block
}
.login-container input[type="submit"]{
    border-radius: 100px;
}
.login-container input[type="submit"]:hover{
    border: 1px solid peachpuff;
}
.login-container input[type="text"], .login-container input[type="password"]{
    width: 90%;
    border: 0px;
    border-bottom: 1px solid #69E9CD;
}

.login-container input[type="text"]:focus, .login-container input[type="password"]:focus{
    border-bottom: 1px solid peachpuff;
}